﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Pages/gartner.Master" AutoEventWireup="true" CodeBehind="login.aspx.cs" Inherits="GartnerDB02.Pages.login" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h1>Welcomme to GDB02</h1>
<p>
    <asp:Login ID="Login1" runat="server" CreateUserText="Sign up!" CreateUserUrl="~/Pages/signup.aspx" DestinationPageUrl="~/Pages/mypage.aspx">
    </asp:Login>
</p>
</asp:Content>
