﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Pages/gartner.Master" AutoEventWireup="true" CodeBehind="signup.aspx.cs" Inherits="GartnerDB02.Pages.signup" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <h1>Crate new user</h1>
<p>
    <asp:CreateUserWizard ID="CreateUserWizard1" runat="server" ContinueDestinationPageUrl="~/Pages/login.aspx">
        <WizardSteps>
            <asp:CreateUserWizardStep runat="server" />
            <asp:CompleteWizardStep runat="server" />
        </WizardSteps>
    </asp:CreateUserWizard>
</p>
</asp:Content>
